<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154566449427-cdqa7j82d59fplllj9jgoosa7aqs0lmo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154566449427-cdqa7j82d59fplllj9jgoosa7aqs0lmo</string>
	<key>API_KEY</key>
	<string>AIzaSyC_bU9xgTGtOc5gZ6Qyu7mUr7oDfHAOuag</string>
	<key>GCM_SENDER_ID</key>
	<string>154566449427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phixlab.money.phixlabMoney</string>
	<key>PROJECT_ID</key>
	<string>wisewallet-8ec7e</string>
	<key>STORAGE_BUCKET</key>
	<string>wisewallet-8ec7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154566449427:ios:9f9f6cb48b6f115249a2e6</string>
</dict>
</plist>